<script type="application/ld+json">
{
"@context": "http://www.schema.org",
"@type": "Person",
"@id": "https://www.hendrik-erz.de/",
"name": "Hendrik Erz",
"alternateName": "Hendrik Erz",
"nationality": "German",
"award": [],
"affiliation": [
	{
		"@type": "CollegeOrUniversity",
		"name": "Institute for Analytical Sociology, Linköping University, Sweden",
		"sameAs": [
			"https://liu.se/en/organisation/liu/iei/ias",
			"https://twitter.com/IAS_LiU"
		]
  	}
],
"alumniOf": [
	{
	 "@type": "CollegeOrUniversity",
	 "name": "University of Bonn",
	 "sameAs": "https://en.wikipedia.org/wiki/University_of_Bonn"
	}
],
"gender": "Male",
"Description": "Researcher",
"disambiguatingDescription": "PhD-Candidate in Analytical Sociology/Computational Social Science",
"jobTitle": "PhD-Student",
"worksFor": [
	{
		"@type": "CollegeOrUniversity",
		"name": "Institute for Analytical Sociology, Linköping University, Sweden",
		"sameAs": [
			"https://liu.se/en/organisation/liu/iei/ias",
			"https://twitter.com/IAS_LiU"
		]
  	}
],
"url": "https://www.hendrik-erz.de/",
"image": "",
"sameAs": [
	"https://twitter.com/sahiralsaid",
	"https://instagram.com/nathan_lesage",
	"https://www.linkedin.com/in/hendrik-erz/",
	"https://github.com/nathanlesage"
	]
}
</script>
