<!-- This is the main navigation; it'll show up on all screens >= 768px -->
<nav id="main-navigation">
  <!-- A fun little animation -->
  <div id="animation" role="presentation">
    <div class="sound-bar"></div>
    <div class="sound-bar"></div>
    <div class="sound-bar"></div>
    <div class="sound-bar"></div>
    <div class="sound-bar"></div>
    <div class="sound-bar"></div>
    <div class="sound-bar"></div>
    <div class="sound-bar"></div>
    <div class="sound-bar"></div>
    <div class="sound-bar"></div>
  </div>

  {%- comment -%} Include the actual menu component {%- endcomment -%}
  {% include menu.html %}
</nav>

<!-- This is the mobile navigation, it'll show precisely there. -->
<nav id="mobile-navigation">
  <label id="menu-open" for="mobile-menu-toggle" aria-label="Open menu">
    <i data-feather="menu"></i>
  </label>

  <!-- The actual toggle; based on this we're showing and hiding the menu -->
  <input type="checkbox" id="mobile-menu-toggle">

  <div id="mobile-container">
    <label id="menu-close" for="mobile-menu-toggle" aria-label="Close menu">
      <i data-feather="x"></i>
    </label>

    <h2>Menu</h2>
    {%- comment -%} Include the actual menu component {%- endcomment -%}
    {% include menu.html %}
  </div>
</nav>
