// The navigation is a little more complex,
// so we're pulling it into its extra file.
nav#main-navigation {
  position: relative;
  padding: 0px 40px;

  div#animation {
    position: absolute;
    top: -15px;
    right: 0px;
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; // Make them grow instead of "fall down"

    div.sound-bar {
      width: 7px;
      height: 0px;
    }
  }

  // The actual navigation
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin: 0;
      padding: 0;

      a {
        font-family: $sans-font;
        border: none;
        display: block;
        line-height: 30px; // We need a fixed line height
        text-decoration: none;
        padding: 5px 10px;
        transition: 0.2s background-color ease;
      }
    }
  }
}

nav#mobile-navigation {
  input#mobile-menu-toggle { display: none; }

  // The mobile menu toggles #menu-open and #menu-close are in the top-right
  label#menu-open {
    position: fixed;
    top: 10px;
    right: 10px;
  }

  // The mobile container is a full-size container on top of the page
  #mobile-container {
    z-index: 4;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    label#menu-close {
      position: fixed;
      top: 10px;
      right: 10px;
    }
  }

  // Show the menu when the checkbox is checked
  #mobile-menu-toggle:checked ~ #mobile-container {
    display: block;
  }

  h2 {
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;

    li {
      display: block;
      text-align: center;

      // The links
      a {
        font-family: $sans-font;
        border: none;
        display: block;
        line-height: 30px; // We need a fixed line height
        text-decoration: none;
        padding: 5px 10px;
        transition: 0.2s background-color ease;
      }
    }

    // The nested list (a.k.a. the group)
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;

      li {
        display: inline-block;
      }
    }
  }
}

// On screens up to 768px, we're going to hide the navigation bar altogether and
// instead displaying the overlay button.
@media(max-width: 768px) {
  nav#main-navigation {
    display: none;
  }
}

@media(min-width: 769px) {
  nav#mobile-navigation {
    display: none;
  }
}
